@model IEnumerable<FinalProject.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
}

<h1>Subject List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Active
            </th>
            <th>
                Delete
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        if (item.IsActive == "1")
                        {
                            <span class="text-success">Active</span>
                        }
                        else
                        {
                            <span class="text-danger">Inactive</span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.IsDelete == "1")
                        {
                            <span class="text-danger">Deleted</span>
                        }
                        else
                        {
                            <span class="text-success">Not Deleted</span>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubjectId" class="btn-success">Edit </a> |
                    <a asp-action="Details" asp-route-id="@item.SubjectId" class="btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SubjectId" class="btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
